<!DOCTYPE html>
<html>
<head>
    <title>Categorized Users</title>
</head>
<body>
    <h1>Authors</h1>
    <ul>
        {% for author in authors %}
            <li>{{ author.user.username }}</li>
        {% endfor %}
    </ul>

    <h1>Editors</h1>
    <ul>
        {% for editor in editors %}
            <li>{{ editor.user.username }}</li>
        {% endfor %}
    </ul>

    <h1>Subscribers</h1>
    <ul>
        {% for subscriber in subscribers %}
            <li>{{ subscriber.user.username }}</li>
        {% endfor %}
    </ul>
</body>
</html>
